<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>Introduction to NoSQL with CouchDB</title>

    <meta charset='utf-8'>
    <script src='../slides.js'></script>
  </head>
  
  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */
    
    
  </style>

  <body style='display: none'>

    <section class='slides layout-regular template-default'>
      
      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->
      
      <article>
      	<h1>Gavin Cooper</h1>
      	
      	<ul>
	      	<li>http://github.com/gcoop</li>
  	    	<li>@gavincoop</li>
  	    </ul>
      </article>
      
      <article class='msw biglogo'>
      </article>
      
      <article>
      	<h1>Magicseaweed.com</h1>
      	<ul class="build">
      		<li>Surf forecast for surfers</li>
      		<li>1.5 million uniques</li>
      		<li>20 million page views</li>
      		<li>85% come back within 3 days</li>
      	</ul>
      </article>
      
      <article class="fill">
      	<h3>
          Getting in the game - some advice
        </h3>
        <p>
          <img src='images/in-the-game.jpg' />
        </p>
        <div class='source white'>
          Source: http://www.flickr.com/photos/luismunoz/4629928123/
        </div>
        <!--
        	First though a little advice about your second year.
        	
        	I graduated from iDAT two years ago.
        	
        	If I knew what I'm about to tell you life would be even better than it already is.
        	
        	Let me explain what I mean.
        -->
      </article>
      
      <article class="fill">
      	<h3>
          Playing in the baby pool
        </h3>
        <p>
          <img src='images/baby-pool.jpg'>
        </p>
        <div class='source white'>
          Source: http://www.flickr.com/photos/43111936@N06/3970639373/
        </div>
        <!--
        	Up until now this is what you guys have been doing. Playing in the baby pool.
        	
        	Kind of learning but not really, it was just school.
        	
        	Learned stuff you probably didn't care to much about. For me French and RE sucked.
        	
        	Even 1st uni, it's hand holding stuff. 
        	
        	The work is easy and little is expected of you.
        -->
      </article>
      
      <article class="fill">
      	<h3>
          Not now though - welcome to the big pool
        </h3>
        <p>
          <img src='images/party-time.jpg'>
        </p>
        <!--
        	Now stuff is getting real. You've got to go and find a placement.
        	
        	Do that thing called life. For real. No more hand holding.
        	
        	You can still party. Just look at all these people.
        	
        	BUT to be allowed in the party you gotta have a good job, which means you gotta be good at what you do.
        	
        	CSS, JS, HTML, PHP whatever your decipline you've gotta know your stuff.
        -->
      </article>
      
      <article class="centered fill">
      	<h3>
          Because you're sharing the big pool with guys like these
        </h3>
        <p>
          <img src='images/apprentice.jpg'>
        </p>
        <div class='source white'>
          Source: http://www.taylorherring.com/blog_content/uploads/2009/05/c1_the-apprentice-long-lead.jpg
        </div>
        <!--
        	The rest of the competition. 
        	
        	Including everyone in this room and more like these guys when they were young will hunting
        	after the best jobs.
        	
        	And if your no good, your not going to get a sniff in.
        	
        	BUT don't worry because your lecturers are here to help.
        	
        	The internet is here to help.
        	
        	I am going to give you 4 sure ways to help you improve.
        	
        	And anything is possible with a little time.
        -->
      </article>
      
      <article class="fill">
      	<h3>BUT... it's not going to be a walk in the park</h3>
      	<p>
      		<img src='images/central-park.jpg' />
      	</p>
      	<div class="source white">
      		Source: http://www.flickr.com/photos/jbparker/340580271/
      	</div>
      </article>
      
      <article class="fill">
      	<h3>
          He might be an idiot but he's got a point - <em>#winning</em>
        </h3>
        <p>
          <img src='images/the-sheen.jpg'>
        </p>
        <div class='source white'>
          Source: http://uptownmagazine.com/files/2011/02/CharlieSheen3.jpg
        </div>
        <!--
        	His views on winning are flawed - drugs and partying aren't going to do it.
        	
        	But he is a very succesfull actor. So he's winning at what he does.
        	
        	And his attitude and motivation to be the best are the important characteristics.
        	
        	You can't expect to just jump right in to the big pool.
        	
        	What I'm getting at is you can't just expect to have web skills handed to you, you gotta learn them.
        	
        	And thats takes motivation and desire.
        	
        	Everyone want's to do well but only a few actually DO.
        	A good job isn't going to get given to you. You need to prove yourself.
        	
        	So let's look at 4 ways to turbo charge your learning.
        -->
      </article>
      
      <article class="fill">
      	<h3>The internet has it all</h3>
        <p>
          <img src='images/imac.jpg'>
        </p>
        <div class='source white'>
          Source: http://www.flickr.com/photos/coleridge208/6029866149/
        </div>
      	<!--
      		Your lecturers can only help and guide you half the way.
      		
      		The key to uni is what you do outside of uni time.
      		
      		No other time in your life will you be paid to learn. Your loan pays you to learn.
      		Yet you spend only a few hours a week actually at uni.
      		
      		Whilst your not partying. Instead of watching 8 hours of friends back to back. Do this.
      	-->
      </article>
      
      <article>
      	<h3>
          Twitter
        </h3>
        <ul>
        	<li><a href="http://net.tutsplus.com/articles/web-roundups/30-developers-you-must-subscribe-to-as-a-javascript-junkie/">30 Top JavaScripters on Twitter</a></li>
        	<li><a href="http://net.tutsplus.com/articles/web-roundups/9-web-developers-that-must-be-followed-on-twitter/">9 Awesome Frontend Developers on Twitter</a></li>
        	<li><a href="http://twitter.com/#!/list/gavincoop/weburus">@gavincoop/weburus</a></li>
        </ul>
        <!--
        	These are the best in the industry of web development.
        	
        	Anything they post is worth reading or seeing.
        	
        	It might be a kick-ass open source project or an amazing demo.
        	
        	Bottom line is it's like being in the same room as the best minds in the world.
        	And that is priceless.
        	
        	Get on it.
        	
        	Use not only these lists to find people. Follow the people they tweet to.
        	Follow anyone that authored a book on a subject you want to specialise in.
        	
        	The last one allows you to just follow my list and let me curate it for you. Could it be easier
        -->
      </article>
      
      <article class="fill">
      	<h3>
          RSS Reader
        </h3>
        <p>
        	<img src='images/ipad.jpg' />
        </p>
        <div class="source white">
        	Source: http://www.flickr.com/photos/33346717@N00/4488050966/
        </div>
        <!--
        	Some things take longer to say than 127 words.
        	
        	For that there's blogs. Everyone in the lists before have blogs.
        	
        	You don't have to read every article, just scan. Read the titles.
        	
        	Delve into the ones that our of interest.
        	
        	Take 20 mins a day. That's all it takes.
        -->
      </article>
      
      <article class="fill">
      	<h3>
          Conferences
        </h3>
        <p>
          <img src='images/jsconf.jpg'>
        </p>
        <div class='source white'>
          Source: http://www.flickr.com/photos/ipom/5329981740/
        </div>
        <!--
        	You need twitter for this.
        	
        	If there's a conference you need to know about. One of those weburus will be at it.
        	
        	And tweeting about it.
        	
        	Google the website and watch those videos. There dynamite, even if they are a year out of date.
        	
        	Most of these conferences cost upwards of £500. It's free gold.
        -->
      </article>
      
      <article class="fill">
      	<h3>
          Delicious.com
        </h3>
        <p>
          <img src='images/overload.jpg'>
        </p>
        <div class='source white'>
          Source: http://www.flickr.com/photos/26791773@N03/4509240252/
        </div>
        <!--
        	Handle all that incoming information.
        
        	Google sucks because it doesn't curate it's results.
        	
        	If you type in jquery plugin forms. You'll get 100 bad plugins.
        	
        	Using Twitter, RSS and conferences you'll come across a link for every possible resources on the internet.
        	
        	You need to tag it for later. Use delicious, use the browser extensions. See it tag it.
        	
        	In just a few weeks you'll have a dynamite resource for only the best plugins, libraries and demos.
        	
        	I've been using it for 5 years now, the depth an quality of resources I have stored in it are immense.
        -->
      </article>
      
      <article>
        <h1>
          Introduction To NoSQL with CouchDB
        </h1>
        
        <!--
        	Ok onto the main event.
        	
        	NoSQL - this can be the cutting edge you learned for today.
        	
        	Who knows what NoSQL is?
        	
        	Ok maybe a bit harder node.js?
        -->
      </article>
      
      <article class="fill">
        <h3>
          Let's find out why NoSQL is <em>awesome</em> - Enter the Delorean
        </h3>
        <p>
          <img src='images/back-to-the-future-part-ii-original.jpg'>
        </p>
        <div class='source white'>
          Source: themoviedb.org
        </div>
        <!--
        	To understand why we should use a new technology we need to understand why it was created.
        -->
      </article>

      <article class="fill">
        <h3>
          Everything starts with a problem
        </h3>
        <p>
          <img src='images/math-problem.jpg'>
        </p>
        <div class='source white'>
          Source: http://www.flickr.com/photos/arjin/3271430123/sizes/l/in/photostream/
        </div>
        <!--
        	NoSQL was created for the same reasons every successful web app we use today was 
        -->
      </article>
      
      <article>
        <q>
          to solve a problem or harness technology to make something more efficient
        </q>
      </article>

      <article class='biglogo'>
      	<!--
      	 Google
      	 Created because.
      	 	Problem: There were millions of web pages, with collectively a giant mesh of data, but there was no directory, we couldn't find anything.
      	 	Improvement: AOL, Yahoo was shit.
      	-->
      </article>
      
      <article class='facebook biglogo'>
      	<!--
      	 Facebook
      	 Created because.
      	 	Problem: We had to ask/call/chat to our friends to find out what they were doing and what they had done. Manually
      	 	Improvement: We were doing it in real life, but how about we aggregate it using technology.
      	 	
      	 	Side note, what do you think Facebook's Graph API is?? I can tell u it's no different from using CouchDB's RESTful interface. NoSQL is a data graph. but don't confuse it with a GraphDB that's something else...
      	-->
      </article>
      
      <article class="fill">
        <h3>
          Everyone can write data, everyone wants to share...
        </h3>
        <p>
          <img src='images/crowd.jpg'>
        </p>
        <div class='source white'>
          Source: http://www.flickr.com/photos/jacofoto/4794560911/
        </div>
      	<!--
      		- 90's it was all comsumption of data, minimum change.
      		- 00's its all push, everyone can write data - the app is configured for you. decenteralised content creators instead of a few = millions of possible creators. hallmark of web "2.0"
      		
      		That created a problem, the current technology didn't scale.
      	-->
      </article>
      
      <article>
      	<h3>The old technology RDBMS</h3>
      	<ul class="build">
      		<li>Designed in the mainframe era.</li>
      		<!--
      			The concept of RDBMS was designed in the mainframe era when we had computers that filled rooms
      			
      			Then the internet happended and we had dynamic pages that needed storage, so we adapted and used RDBMS.
      			
      			Everything was good, because we had little writes and simple reads. Infact there wasn't that many users.
      			
      			Then Facebook happened..
      			
      			Sundenly websites had social, websites were specific to every user, websites became web apps.
      			Many writes, millions of users..
      		-->
      		<li>It's relational, yet we use Objects/Documents in PHP.</li><!-- 
      			1000s of lines of glue code to take relational tables into data objects to read
      			and back again to save... why? THERE IS NO GOOD REASON.
      			
      			how about this, you store an invoice in RDBMS land, you store the address in a seperate table.
      			a year later the customer changes there address
      			
      			did the invoices address change?
      			
      			you build ecommerce, customers have one address you put it in the user table
      			10,000 customers later you decide two addresses, you need another table and complex data/schema migration, maybe even downtime?
      			changes/migrations break things. full stop. much easier if you don't have to.
      			-->
      		<li>It doesn't scale horizontally.</li>
      		<!-- 
      			- master then slaves (ok for low write, but high 50/50 read/write = problems) not master-master 
      			- if distributed, what happens if replication breaks? scheama not migrated code expects x fields because in rdbms land u write code to expect fields with distributed you can never assume all nodes are identical.
      		-->
      		<li>It can't handle lots of connections.</li> <!-- 
      			- one connection many sql quieris, now we use an api and request more frequently but smaller chunks, we need more throughput - RDBMS was not designed for this it was designed in the mainframe era they didn't prevision for this, not that they should have! 
      			- little concurrency and blocking
      			- race conditions.	
      		-->
      		<li>Running clusters is hard work.</li> <!-- scheame migrations, easy for replication to stop -->
      		<li>Memcache to turbo-charge.</li><!-- used memcache to relieve the DB - ITS A KEY/VALUE STORE, it's just not persistent. -->
      	</ul>
      </article>

			<article>
        <q>
          the problem is real, it isn't just trendy bullshit
        </q>
        <!--
        	We need a solution for the modern day internet, for web apps not websites.
        
        	Google, Facebook, Twitter, Amazon, Ebay don't invest millions of $'s of resources on trendy bullshit.
        -->
      </article>
		
	<article>
		<h3>NoSQL (more specifically CouchDB)</h3>
		<ul class="build">
			<li>Built for todays internet, infact built of todays internet (RESTful interface, JSON documents and JS map/reduce).</li>
			<!--
				Client side code expects RESTful api's.
				JSON rocks, XML sucks.
			-->
			<li>Just store the document.</li>
			<!--
				They're called document store's but we are really talking about objects.
				
				Just store the invoice with the address, don't split it out only to put it back together.
			-->
			<li>Documents means no schema, no schema migrations, simpler to replicate.</li>
			<!--
				rdbms scheama up front - but the scheame isn't fixed it changes this is THE CORE OF THE problem.
				nosql scheame after with map/reduce.
				solves the no-node identical problem.
			-->
			<li>Horizontal replication is an easy win</li>
			<!--
				Because your system inheritently expects and open schema horizontal replication is an easy win.
				
				No node needs to be identical eventual consistency can work - bear in mind all nodes the same isn't practical.
				
				Need to scale? easy just add another server, master-master replication in couch takes 15 seconds to setup.
			-->
			<li>Built specifically to handle many concurrent connections.</li>
			<!--
				couchdb, fault tolerant, mysql race = server dies. couchdb just kills the bad connection.
				couchdb built in erlang, telecoms, 20 million processes.
			-->
		</ul>
	</article>
			
	<article>
		<h1>What if I don't need scale?</h1>
	</article>
	
	<article class="fill">
        <h3>
          Schema free
        </h3>
        <p>
          <img src='images/free.jpg'>
        </p>
        <div class='source white'>
          Source: http://www.flickr.com/photos/josefgrunig/1732787905/
        </div>
        <!--
        	In RDBMS land you make a schema you structure your data.
        	
        	Two weeks later client says they want something different.
        	
        	You need to migrate.
        	
        	For use that's upwards of 10 million rows.
        
        	Data migrations are a ball-ache, they do cause problems.
        	
        	With NoSQL you don't have schema, you don't have this problem.
        	
        	You scheame exists only in your code. Change just the code.
        -->
		</article>
		
		<article class="build">
			<h3>Say goodby to (lots of) this...</h3>
			<pre>$DBH = new PDO("mysql:host=$host;dbname=$dbname", $user, $pass);  
$DBH->setAttribute( PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION );</pre>
			
			<h3>And this...</h3>
			<pre class="tinycode">SELECT 
ur.id,
ur.userId,
ur.spotid,
ur.actualWaveHeight,
ur.windStrength,
ur.windDirection,
ur.photoId,
ur.submitted,
UNIX_TIMESTAMP(ur.reportDate) AS reportDate,
ur.rating,
ur.reportText,
ep.id AS actualPhotoId,
3956 * 2 * ASIN(SQRT(POWER(SIN((? - abs(s.`lat`)) * pi()/180/2), 2) + COS(? * pi()/180) * COS(abs(s.`lat`) * pi()/180) * POWER(SIN((? - s.`lon`) * pi()/180/2),2))) as DIST,
s.lat as latitude,
s.lon as longitude
FROM someSpots s
LEFT JOIN somePeoplesReports ur ON (ur.spotId = s.id)
LEFT JOIN aUser u ON (ur.userId = u.id)
LEFT JOIN someReportImage ep ON (ur.id = ep.eyeballReportId)
WHERE UNIX_TIMESTAMP(ur.reportDate) > (UNIX_TIMESTAMP(NOW())-86400)
AND u.trusted = 'yes'
AND s.lon BETWEEN ? AND ?
AND s.lat BETWEEN ? AND ?
GROUP BY ur.userId
ORDER BY DIST, ur.reportDate DESC</pre>
			<!--
				I'm sure you've all got more silly queries than this.
				
				The point here is we just want a single data object out with some indexing and there's 3 joins.
				
				+ a group by which = a temporary table.
				
				With NoSQL you don't need to do this to create an instanceof some class.
				
				You just use the HTTP RESTful API CouchDB provides. Simple.
			-->
		</article>
		
		<article class="fill">
			<h3>Say hello to a baked in RESTful API</h3>
        <p>
          <img src='images/wunderlist.png'>
        </p>
        <div class='source white'>
          Source: http://www.flickr.com/photos/josefgrunig/1732787905/
        </div>
        <!--
        	Wunderlist super simple todo app.
        
        	Executed beautifully.
        	
        	It's one page, views load and interchange just like a desktop app.
        	
        	Data is pulled and pushed in the background, by something like backbone.js
        	
        	Data is interacting using a RESTful interface to a data store.
        	
        	with CouchDB your client-side js can talk direct to the store.
        	
        	Don't even need to write PHP.
        	
        	However don't get ahead of your self you still need PHP under your wings.
        	Many of you will walk into jobs focused on PHP.
        	
        	Just a few of you will be good enough to get jobs at innovative companies producing apps like this.
        	BUT if you all follow those first few slides, you'll all be rockstars.
        -->
	</article>
	
      <article>
      	<h1>Introducing</h1>
      	<p>The best placement ever</p>
      </article>
	
      <article class="fill">
        <h3>
          User Interface Engineer - <em>who you need to be</em>
        </h3>
        <ul class="build">
        	<li>JS, HTML and CSS are second languages to you</li>
        	<li>HTML5 gives you wings not RedBull</li>
        	<li>Comfortable with PHP - you don't need to be a wizard</li>
        	<li>An unhealthy obsession with building efficient, clean and modular code</li>
        	<li>Extremely detail orientated</li>
        	<li>Passion for elegant and intuitive user interfaces</li>
        	<li>You love the cloud</li>
        	<li>You will kill<small>*</small> to learn new technologies</li>
        	<li>Desire to produce killer web applications that change peoples lives</li>
        	<!--
        		Our forecast is litterally a critical part of every surfers life.
        	-->
        </ul>
        <div class='source'>
          Not official part of the job description, by "kill" I mean you "would like".
          ** you don't need to be a surfer - we are a web application first.
        </div>
      </article>
	
      <article class="fill">
        <h3>
          #1 Placement - <em>guaranteed the best placement out there</em>
        </h3>
        <ul class="build">
        	<li>Push changes daily to a website with 1.5 million people using it</li>
        	<!--
        		DYNAMITE on any CV. Any employer will KNOW your code is solid.
        		
        		Your pushing code to millions of people every day. No one else in the placement will be doing that.
        		
        		Unless they work at Facebook.
        	-->
        	<li>Work for the best surf forecast in the world</li>
        	<li>The best web app developed in the SW</li>
        	<li>Trade price surf/skate/snow clothing and hardware</li>
        	<li>Flexi-time - if the surf is on, we are on it</li>
        	<li>Free tickets to Boardmasters, SLUT parties and The Masked Balls</li>
        	<li>Maybe we'll let you come to Morocco, France or Indo with us for free</li>
        	<li>You'll get a desk</li>
        	<li>We might pay you between <strong>&pound;12,000 and &pound;16,000</strong></li>
        </ul>
      </article>
      
      <article>
      	<h1>Applications</h1>
      	<ul>
      		<li>Talk to me right after this</li>
      		<li>gavin@magicseaweed.com</li>
      		<li>@gavincoop</li>
      	</ul>
      </article>
	
      <article class="fill">
        <h3>
          Thank you! that's a wrap.
        </h3>
        <p>
          <img src='images/ks10.jpg'>
        </p>
        <div class='source white'>
          Source: Magicseaweed.com
        </div>
        <!--
        	Questions...
        -->
      </article>

    </section>

  </body>
</html>
